.form-control {
  width: 100%;
  border: 1px solid var(--second-color);
  padding: 7px 8px;
  border-radius: 5px;
  font-size: var(--font-size);
  color: var(--third-color);
  font-family: var(--my-font);
}

.form-control::placeholder {
  color: var(--third-color);
}
