footer {
  color: var(--third-color);
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  background: var(--first-background);
}
