@font-face {
  font-family: 'nunito';
  src: url('./assets/fonts/nunito/static/Nunito-Light.ttf');
}

:root {
  --background-check: #8669ed;
  --background-range: #727cf5;
  --my-font: 'nunito';
  --color: #fff;
  --first-background: #313a46;
  --second-background: #8391a2;
  --third-background: #dee2e6;
  --fourth-background: #fafbfd;
  --fifth-background: #eef2f7;
  --first-color: #8391a2;
  --second-color: #bccee4;
  --third-color: #98a6ad;
  --fourth-color: #6c757d;
  --border-color: #f1f3fa;
  --border-table: #edeff1;
  --font-size-one: 15px;
  --font-size-two: 24px;
  --body: #fafbfe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--my-font);
}

table {
  border-collapse: collapse;
  width: 100%;
}

.form-control {
  width: 100%;
  border: 1px solid var(--third-background);
  padding: 7px 8px;
  border-radius: 5px;
  font-size: var(--font-size);
  color: var(--third-color);
  font-family: var(--my-font);
}

.form-control::placeholder {
  color: var(--third-color);
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  padding-left: 5px;
}

.form-check {
  padding-left: 20px;
}

.form-check-input {
  -webkit-appearance: none;
  vertical-align: top;
  border: 1px solid var(--third-background);
  width: 2em;
  height: 1.112em;
  margin-top: 0.2em;
  margin-left: -2.5em;
  background-image: url('../src/assets/images/checkFalse.svg');
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 2em;
}

.form-check-input:checked {
  background: var(--background-check);
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url('../src/assets/images/checkTrue.svg');
}

.input-group {
  width: 100%;
  display: flex;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  color: var(--fourth-color);
  background: var(--fifth-background);
  border-radius: 0.25rem;
  border: 1px solid var(--third-background);
}

.form-element {
  font-size: 25px;
  padding: 24px 0;
  color: var(--fourth-color);
}

.field {
  padding: 0 10px;
  margin-bottom: 24px;
  width: 100%;
}

.container-table {
  width: 100%;
  margin-top: 25px;
}
